# virtualenv
/myenv/
.venv/
venv/
env/



# env files
.env
.env.*
!.env.example



**/migrations/**
!**/migrations
!**/migrations/__init__.py

# django / local dev
db.sqlite3
*.log

**/__pycache__/*
__pycache__/
*.py[cod]